<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <title>a programmer's blog</title>
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col-md-12 bg-dark">
          <!-- the top menu bar -->
          <nav class="navbar navbar-expand bg-dark navbar-dark">
            <!-- logo -->
            <a class="navbar-brand" href="#">
                <img src="/assets/img/logo.png" alt="Logo" style="width:40px;">
                a programmer's blog
            </a>

            <!-- the navigation itself -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/add-article">add an article</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
              </li>
            </ul>
        </nav>
        </div>
      </div>


      <div class="row">

        <!-- the left side of the website -->
        <div class="col-md-3">

          <!-- about myself -->
          <div class="infobox">
              <h5>WHO AM I?</h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et urna nulla. Mauris et tortor pharetra, convallis magna at, finibus ipsum. Ut augue ex, ultricies eget urna ac, gravida porttitor lorem. Quisque sollicitudin molestie aliquet. Quisque eu egestas massa, non gravida eros. Morbi porttitor mollis augue a maximus. Nulla quis risus eget massa placerat finibus at in augue.
          </div>

          <!-- my contacts -->
          <div class="infobox">
            <h5>MY CONTACTS</h5>
            <ul class="navbar-nav">
              <li><a href="#">vk profile</a></li>
              <li><a href="https://github.com/ShadeWe">github profile</a></li>
              <li><a href="#">facebook profile</a></li>
            </ul>
          </div>

          <!-- archives -->
          <div class="infobox">
              <h5>ARCHIVES</h5>
              <ul class="navbar-nav">
                <li><a href="#">june 2019</a></li>
                <li><a href="#">may 2019</li>
                <li><a href="#">april 2019</a></li>
                <li><a href="#">march 2019</li>
                <li><a href="#">february 2019</a></li>
              </ul>
          </div>
        </div>

        <!-- the right side of the website where content is placed -->
        <div class="col-md-9" style="padding: 0; padding-top: 20px;">

        <!-- if there's at least 1 article in the database -->
        {% if articles is defined %}

          <!-- going through all the articles found -->
          {% for article in articles %}

          <!-- a box with content, containing the poster info, a picture, a header and text -->
          <div class="content-box">

            <!-- poster info (it's name, picture, date of posting) -->
            <div class="poster-info">
              <div class="poster-picture"></div>
              <div class="block">
                <div class="poster-name">
                  {{ article.author }}
                </div>
                <div class="poster-date">
                  June 23, 1998
                </div>
              </div>
            </div>

            <div class="content-picture">NO IMAGE PROVIDED</div>

            <h1 style="padding-top: 10px">{{ article.article_title }}</h1>

            <p style="text-align: justify">
              {{ article.article_contents | raw }}
            </p>
          </div>

            {% endfor %}
          {% endif %}

        </div>
      </div>

      <!-- the footer of the website -->
      <div class="row">
        <div class="col-md-12" style="background-color: rgb(175, 158, 255); padding: 0">
          <div id="bottom-navigation">
            <nav class='navbar bg-dark navbar-dark'>
              <ul class='navbar-nav'>
                <li class='nav-item'><a class="nav-link" href="#">About us</a></li>
                <li class='nav-item'><a class="nav-link" href="#">Permissions</a></li>
                <li class='nav-item'><a class="nav-link" href="#">What's this website for?</a></li>
                <li class='nav-item'><a class="nav-link" href="#">How to exit this website?</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
